head {
    background-color: blueviolet;
    color: pink;
}
body {
    background-color: blueviolet;
    color: lightskyblue;
  }
  
  h1 {
    color: lightskyblue;
  }

  .head {
    position: absolute;
    top: 190px;
    left: 83px;
    width: 180px;
    height: 140px;
    background: orange;
    border-radius: 90%;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
  }

  .hat {
    position: absolute;
    top: 180px;
    left: 80px;
    background: black;
    width: 180px;
    height: 40px;
    border-radius: 100% 100% 100% 100%;
    transform: rotate(1deg);
  }

  .ear {
    position: absolute;
    top: 220px;
    left: 70px;
    width: 30px;
    height: 30px;
    background: plum;
    border-radius: 80% 200% 50% 200%;
  }

  .ear.two {
    position: absolute;
    top: 220px;
    left: 250px;
    width: 30px;
    height: 30px;
    background: plum;
    border-radius: 80% 200% 50% 200%;
    transform: rotate(270deg);
  }

  .eye {
    position: absolute;
    top: 230px;
    left: 120px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(120deg);  
  }

  .eye.two {
    position: absolute;
    top: 230px;
    left: 190px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(120deg);  
  }

  .smile {
    position: absolute;
    top: 280px;
    left: 170px;
    width: 25px;
    height: 10px;
    background: green;
    border-radius: 10% 15% 15% 10%;
    transform: rotate(-15deg);  
  }

  .back.circle {
    top: -80px;
    left: -80px;
    z-index: -1;
      width: 350px;
    height: 350px;
    background: aquamarine;
    border-radius: 100%;
    box-shadow: 18px 15px 0  rgba(#666666, 0.3);
  }

  .back.circle.two {
    position: absolute;
    top: 75px;
    left: 270px;
    z-index: -2;
      width: 350px;
      height: 350px;
    background: yellowgreen;
    border-radius: 100%;
  }

  .img {
    position: absolute;
    background-image: url(nashwasmall.png);
    width: 340px;
    height: 360px;
    border-radius: 50%;
    top: 69px;
    left: 279px;
    opacity: 0.7;
    }
