body {
    background-color:darkorange;
    color: whitesmoke;
  } 

h1  {
    color:white;
    text-align: center;
    border-style:double;
    padding: 50px;
    border-radius: 2cm;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color:green; 
    border: 15px solid green;
    padding: 50px;
    text-align: center; 
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }

  a {
    color:green
  }

  p:hover {
    background-color: greenyellow;
  }

